
    <!--搜索页面-->
    <div id="mod_search">
    <div class="mod_search_bar">
        <div class="search_back"></div>
        <div class="search_box"><input type="text" placeholder="请输入商品名称"></div>
        <div class="search_text">搜索</div>
    </div>
    <div class="mod_search_tip">
        <div class="mod_hot_search">
            <h3 class="search_tittle">热门搜索</h3>
            <ul>
                <li class="hot_item">大闸蟹</li>
                <li class="hot_item">水</li>
                <li class="hot_item">中秋月饼</li>
                <li class="hot_item">酸奶</li>
                <li class="hot_item">啤酒</li>
                <li class="hot_item">西瓜</li>
                <li class="hot_item">大荔冬枣</li>
                <li class="hot_item">贝儿蛋糕</li>
                <li class="hot_item">月盛斋</li>
            </ul>
        </div>
        <div class="search_history">
            <h3 class="search_tittle">历史记录</h3>
            <span>大闸蟹</span>
        </div>
        <div class="clear_btn">清空历史</div>
    </div>
    <div class="mod_search_result hidden">
        <div class="search_result_item">
            <div class="search_result_img1"></div>
            <div class="search_result_name">稻香村精制五仁月饼</div>
            <div class="search_result_sift"><span>精选</span></div>
            <div class="search_result_weight">100g/块</div>
            <div class="search_result_price">￥<span>12</span><span>￥13.8</span><span>补货中</span></div>
        </div>
        <div class="search_result_item">
            <div class="search_result_img2"></div>
            <div class="search_result_name">稻香村蛋黄莲蓉月饼</div>
            <div class="search_result_sift"><span>精选</span></div>
            <div class="search_result_weight">100g/块</div>
            <div class="search_result_price">￥<span>12</span><span>￥13.8</span><span>补货中</span></div>
        </div>
        <div class="search_result_item">
            <div class="search_result_img3"></div>
            <div class="search_result_name">稻香村金丝枣蓉月饼</div>
            <div class="search_result_sift"><span>精选</span></div>
            <div class="search_result_weight">100g/块</div>
            <div class="search_result_price">￥<span>8</span><span>￥9.9</span><span>补货中</span></div>
        </div>
    </div>
    <div class="mod_shopCart hidden">
        <div class="bg_cart"></div>
        <div class="shopGoods_num">0</div>
    </div>
</div>
