<!--秒杀页面-->
    <div id="goods_seckill">
        <header class="seckill_tittle">
            <span></span><span>疯狂秒杀</span><span></span>
        </header>
        <section>
            <div class="seckill_banner"><img src="images/kill_banner.jpg"></div>
            <ul class="seckill_item">
                <li>
                    <p class="seckill_time">10:00</p>
                    <p class="seckill_text">已结束</p>
                    <p class="seckill_icon"></p>
                </li>
                <li>
                    <p class="seckill_time">12:00</p>
                    <p class="seckill_text">已结束</p>
                    <p class="seckill_icon"></p>
                </li>
                <li>
                    <p class="seckill_time">15:00</p>
                    <p class="seckill_text">已结束</p>
                    <p class="seckill_icon"></p>
                </li>
                <li>
                    <p class="seckill_time">17:00</p>
                    <p class="seckill_text">即将开始</p>
                    <p class="seckill_icon"></p>
                </li>
            </ul>
            <div class="seckill_tip">
                <div class="seckill_tip_left">
                    <p class="seckill_tip_text">距本场结束</p>
                    <p class="seckill_tip_time">00:00:00</p>
                </div>
                <div class="seckill_tip_right">查看活动规则</div>
            </div>
            <div class="seckill_sell_out">
                <div class="seckill_section_item">
                    <div class="left"></div>
                    <div class="right">
                        <p>苏菲极薄0.1卫生巾</p>
                        <p>8片</p>
                        <p><span>￥</span><span>5.9</span><span> / 原价：16.5</span></p>
                        <div>已抢光</div>
                    </div>
                </div>
                <div class="seckill_section_item">
                    <div class="left  seckill_section_two"></div>
                    <div class="right">
                        <p>维达超韧纸抽</p>
                        <p>3包/提</p>
                        <p><span>￥</span><span>6.9</span><span> / 原价：18</span></p>
                        <div>已抢光</div>
                    </div>
                </div>
            </div>
            <h3 class="best_seller"><span>热卖</span></h3>
            <div class="best_seller_goods">
                <div class="mod_goods">
                    <div class="mod_img mod_item1"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item2"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item3"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item4"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item5"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item6"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item7"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item8"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item9"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item10"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
                <div class="mod_goods">
                    <div class="mod_img mod_item11"></div>
                    <div class="mod_name">爱鲜蜂·凯特芒果</div>
                    <div class="mod_weight"><span>450-600g/盒</span></div>
                    <div class="mod_price"><span>￥14.6</span><span>￥21</span></div>
                    <div class="mod_buy">+</div>
                </div>
            </div>
            <h3 class="best_seller"><span>活动规则</span></h3>
            <div class="seckill_rules">
                <ul class="seckill_rules_item">
                    <li>本次活动购买的实物商品，请先选择送货地址，再进行购买；</li>
                    <li>活动动时间：每日10点、12点、15点、19点；</li>
                    <li>活动单品每个商品每人每天抢购一次（限配送区域内用户参加）；</li>
                    <li>商品数量有限，售完即止。需及时在线支付，请以订单支付成功时间为准；</li>
                    <li>此活动可以和其他商品同时购买，订单金额满30元（含）以上可送；</li>
                    <li>若发现用户恶意刷单，爱鲜蜂有权拒绝送货。</li>
                </ul>
            </div>

        </section>
        <div class="mod_shopCart">
            <div class="bg_cart"></div>
            <div class="shopGoods_num">0</div>
        </div>
    </div>