* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #efefef;
  font-family: "华文细黑";
  color: #222222;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.tabBar {
  position: fixed;
  width: 100%;
  height: 3.75rem;
  bottom: 0;
  background: rgba(246, 246, 246, 0.95);
  font-size: 0;
}
.tabBar ul {
  display: flex;
  justify-content: center;
}
.tabBar ul li {
  font-size: 0.78125rem;
  width: 20%;
  text-align: center;
}
.tabBar ul li div {
  width: 100%;
  margin-top: 0.46875rem;
  height: 1.5625rem;
  margin-bottom: 0.25rem;
  background-repeat: no-repeat;
  background-position: center 0.1875rem;
}
.tabBar ul li span {
  display: inline-block;
  width: 4rem;
  text-align: center;
  letter-spacing: 1px;
  color: #222222;
}
.tabBar ul li .indexBtn {
  background: url(images/tabBarImg1.png) no-repeat;
  background-position: center 0rem;
  background-size: 40% 200%;
}
.tabBar ul li .sendBtn {
  background-image: url("images/tabImg6.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul li .reserveBtn {
  background-image: url("images/tabBarImg4.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul li .shoppingCarBtn {
  background-image: url("images/tabBarImg3.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul li .myBtn {
  background-image: url("images/tabBarImg5.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul .shopping_car_tabBar {
  position: relative;
}
.tabBar ul .shopping_car_tabBar .shopping_alertNum {
  color: #ffffff;
  position: absolute;
  top: -0.0625rem;
  right: -0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ff4400;
  line-height: 1.5rem;
}
.userInfo {
  height: 10.125rem;
  background-color: #ffd600;
  color: #ffffff;
  position: relative;
}
.userInfo div {
  float: left;
  height: 6rem;
}
.userInfo div:first-of-type {
  width: 30%;
  height: 6rem;
  background: url("images/page5_user1.png") no-repeat 1rem bottom;
  background-size: 75% ;
}
.userInfo div:nth-of-type(2) {
  width: 20%;
}
.userInfo div:nth-of-type(2) p {
  text-align: justify;
  margin-top: 2.03125rem;
  margin-bottom: 0.625rem;
}
.userInfo div:nth-of-type(2) span:first-of-type {
  display: inline-block;
  color: #e64f1a;
  background: url("images/page5_user2.png") no-repeat;
  height: 2.375rem;
  background-size: 100%;
  width: 5.53125rem;
  font-size: 0.625rem;
  text-indent: 2.1875rem;
  line-height: 1.875rem;
}
.userInfo div:nth-of-type(3) {
  width: 0.9375rem;
  background-color: red;
  float: right;
  background: url("images/page5_user3.png") no-repeat center 70%;
  background-size: 90%;
  margin-right: 1rem;
}
.userInfo div:nth-of-type(4) {
  display: flex;
  position: absolute;
  height: 2.5rem;
  bottom: 0;
  background-color: #f3c800;
  line-height: 2.5rem;
}
.userInfo div:nth-of-type(4) p {
  width: 9.925rem;
  border-right: 0.15rem solid #ffffff;
  height: 1.5625rem;
  margin-top: 0.46875rem;
  line-height: 1.5625rem;
  font-size: 0.6875rem;
  text-indent: 4.8rem;
}
.userInfo div:nth-of-type(4) p:nth-of-type(1) {
  background: url("images/page5110.png") no-repeat 2.8rem 0;
  background-size: 15% 100%;
}
.userInfo div:nth-of-type(4) p:nth-of-type(2) {
  background: url("images/page5111.png") no-repeat 2.8rem 0;
  background-size: 15% 100%;
  border-right: none;
}
.userHandle {
  height: 8.28125rem;
  width: 100%;
  background-color: #ffffff;
  margin-top: 0.625rem;
  overflow: hidden;
}
.userHandle div:first-of-type {
  width: 100%;
  height: 3.46875rem;
  border-bottom: 0.1rem solid #efefef;
  overflow: hidden;
}
.userHandle div:first-of-type p {
  float: left;
  height: 3.46875rem;
  line-height: 3.46875rem;
  text-indent: 1rem;
}
.userHandle div:first-of-type span {
  float: right;
  height: 3.46875rem;
  text-align: center;
  line-height: 3.46875rem;
  width: 10rem;
  background: url("images/moreBg.png") no-repeat 8.5rem center;
  color: #999999;
  background-size: 25% 25%;
}
.userHandle div:nth-of-type(2) span {
  background: url("images/page5_user4.png") no-repeat;
}
.userHandle div:nth-of-type(3) span {
  background: url("images/page5_user5.png") no-repeat;
}
.userHandle div:nth-of-type(4) span {
  background: url("images/page5_user6.png") no-repeat;
}
.userHandle div:nth-of-type(5) span {
  background: url("images/page5_user7.png") no-repeat;
}
.userHandle div:not(.userHandle_one) {
  float: left;
  width: 5rem;
  height: 4.75rem;
  font-size: 0.71875rem;
}
.userHandle div:not(.userHandle_one) span {
  display: inline-block;
  width: 5rem;
  height: 2.5625rem;
  background-position: center bottom;
  background-size: 28% 60%;
}
.userHandle div:not(.userHandle_one) p {
  height: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;
}
.userActivity {
  margin-top: 0.625rem;
  background-color: #ffffff;
  overflow: hidden;
}
.userActivity div:nth-of-type(1) {
  background: url("images/page5_user8.png") no-repeat center;
  background-size: 3rem;
}
.userActivity div:nth-of-type(2) {
  background: url("images/page5_user9.png") no-repeat center;
  background-size: 3rem;
}
.userActivity div:nth-of-type(3) {
  background: url("images/page5_user9.png") no-repeat center;
  background-size: 3rem;
}
.userActivity div:nth-of-type(4) {
  background: url("images/page5_user10.png") no-repeat center;
  background-size: 3rem;
}
.userActivity div:nth-of-type(5) {
  background: url("images/page5_user11.png") no-repeat center;
  background-size: 3rem;
}
.userActivity div:nth-of-type(6) {
  background: url("images/page5_user12.png") no-repeat center;
  background-size: 3rem;
}
.userActivity div {
  width: 5rem;
  height: 7.5rem;
  float: left;
  text-align: center;
  line-height: 11.5625rem;
}
.userActivity div p {
  font-size: 0.71875rem;
}
.userLogout {
  height: 3.375rem;
  background-color: #ffffff;
  margin-top: 2.03125rem;
  line-height: 3.375rem;
  text-align: center;
  font-size: 0.71875rem;
}
