<!--新鲜预定部分-->
    <div class="page3">
    <header class="flesh_top">新鲜预定</header>
    <div class="flesh_menu1 flesh_menu">
        <p><span class="flesh_menu_choose">精选水果</span></p>
        <p><span>直供蔬菜</span></p>
        <p><span>水产海鲜</span></p>
        <p><span>肉禽蛋</span></p>
        <p><span>乳品烘焙</span></p>
    </div>
    <div class="flesh_menu2 flesh_menu">
        <p><span>粮油副食</span></p>
        <p><span>酒水饮料</span></p>
        <p><span>休闲零食</span></p>
        <p><span>整箱购</span></p>
        <p><span>熟食面点</span></p>
    </div>
    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="flesh_list flesh_fruit">
        <p><span>精选水果</span></p>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span>￥30</span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
        <section>
            <img src="images/page3)_flseh1.jpg" alt="">
            <p>[次日达]西美阿拉斯加狭鳕片500g</p>
            <span>￥28</span>
            <span></span>
            <span></span>
        </section>
    </div>

    <div class="clear"></div>
</div>

