
    <div class="page4">
        <!--空购物车页面-->
        <div class="shopping_cart">
            <div class="shopping_cart_tittle">购物车</div>
            <section class="shopping_cart_con">
                <div class="empty_shop">
                    <div class="empty_shop_img"></div>
                    <p>亲，购物车空空的耶~</p>
                    <div class="go_shop">去逛逛</div>
                </div>
            </section>
        </div>
        <!--购物车不为空-->
        <div class="purchase_goods hidden">
            <div class="shopping_cart_tittle">购物车</div>
            <table class="person_info">
                <tbody>
                <tr>
                    <th>收货人</th>
                    <td>哈哈先生</td>
                    <td rowspan="3">修改</td>
                </tr>
                <tr>
                    <th>电话</th>
                    <td>1234567898</td>
                </tr>
                <tr >
                    <th>收货地址</th>
                    <td>北京市昌平区</td>
                </tr>
                </tbody>
            </table>
            <div class="bg_info"></div>
            <div class="detail_info">
                <div class="goods_market"><span>闪送超市</span><span>凑单专区</span></div>
                <p>￥0起送，22:00前满30减免运费，22:00后满69元减免运费</p>
                <div class="goods_time">收货时间<span>一小时送达</span><span>可预订</span></div>
                <div class="goods_remark">收货备注<input type="text" placeholder="可输入100字以内特殊要求内容"></div>
                <table class="choose_goods_info">
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="goods_name">爱鲜蜂·赣南蜜桔</div>
                            <div class="goods_num"><span>￥6.8</span><span>-</span><span>1</span><span>+</span></div>
                        </td>
                    </tr>
                </table>
                <div class="total_price">
                    <span>全选</span>
                    <span>共:</span>
                    <span>￥6.8</span>
                    <span>选好了</span>
                </div>
            </div>
        </div>
    </div>

