* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #efefef;
  font-family: "华文细黑";
  color: #222222;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.tabBar {
  position: fixed;
  width: 100%;
  height: 3.75rem;
  bottom: 0;
  background: rgba(246, 246, 246, 0.95);
  font-size: 0;
}
.tabBar ul {
  display: flex;
  justify-content: center;
}
.tabBar ul li {
  font-size: 0.78125rem;
  width: 20%;
  text-align: center;
}
.tabBar ul li div {
  width: 100%;
  margin-top: 0.46875rem;
  height: 1.5625rem;
  margin-bottom: 0.25rem;
  background-repeat: no-repeat;
  background-position: center 0.1875rem;
}
.tabBar ul li span {
  display: inline-block;
  width: 4rem;
  text-align: center;
  letter-spacing: 1px;
  color: #222222;
}
.tabBar ul li .indexBtn {
  background: url(images/tabBarImg1.png) no-repeat;
  background-position: center 0rem;
  background-size: 40% 200%;
}
.tabBar ul li .sendBtn {
  background-image: url("images/tabImg6.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul li .reserveBtn {
  background-image: url("images/tabBarImg4.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul li .shoppingCarBtn {
  background-image: url("images/tabBarImg3.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul li .myBtn {
  background-image: url("images/tabBarImg5.png");
  background-position: center -1.5625rem;
  background-size: 40% 200%;
}
.tabBar ul .shopping_car_tabBar {
  position: relative;
}
.tabBar ul .shopping_car_tabBar .shopping_alertNum {
  color: #ffffff;
  position: absolute;
  top: -0.0625rem;
  right: -0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ff4400;
  line-height: 1.5rem;
}
.page4 .shopping_cart {
  width: 100%;
  height: 100%;
}
.page4 .shopping_cart .shopping_cart_con {
  width: 100%;
  height: 28.125rem;
  background-color: #efefef;
  padding-top: 20%;
}
.page4 .shopping_cart .shopping_cart_con .empty_shop {
  width: 100%;
  height: 16rem;
  text-align: center;
}
.page4 .shopping_cart .shopping_cart_con .empty_shop .empty_shop_img {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  background: url("images/shop_cart.png") no-repeat center;
  background-size: 100% 100%;
}
.page4 .shopping_cart .shopping_cart_con .empty_shop p {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #999;
  font-size: 1rem;
}
.page4 .shopping_cart .shopping_cart_con .empty_shop .go_shop {
  width: 7.6875rem;
  height: 1.875rem;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  text-align: center;
  line-height: 1.875rem;
  font-size: 1rem;
  color: #999;
}
.page4 .shopping_cart_tittle {
  height: 3.4375rem;
  text-align: center;
  line-height: 3.4375rem;
  font-size: 1rem;
  color: #5e5e5f;
  font-weight: bold;
  background-color: #f9fafd;
}
.page4 .purchase_goods {
  width: 100%;
  display: none;
}
.page4 .purchase_goods .person_info {
  width: 100%;
  font-size: 0.9375rem;
  background: url("images/personal_info.png") repeat-x left top, left bottom;
}
.page4 .purchase_goods .person_info th {
  width: 4.9375rem;
  padding: 0.45rem 0;
  padding-left: 1.4rem;
  text-align: justify;
  font-weight: normal;
  text-align-last: justify;
}
.page4 .purchase_goods .person_info tr td:first-of-type {
  padding-left: 0.8rem;
}
.page4 .purchase_goods .person_info tr td:nth-of-type(2) {
  background: url("images/goods_right.png") no-repeat 2.2rem center;
  background-size: auto 1rem;
}
.page4 .purchase_goods .bg_info {
  width: 100%;
  height: 0.3125rem;
  background: url("images/personal_info.png") repeat-x;
}
.page4 .purchase_goods .detail_info {
  width: 100%;
}
.page4 .purchase_goods .detail_info .goods_market {
  width: 100%;
  height: 2.25rem;
  line-height: 2.25rem;
  padding-left: 1.4rem;
  box-sizing: border-box;
  position: relative;
}
.page4 .purchase_goods .detail_info .goods_market span:first-of-type {
  display: inline-block;
  font-size: 0.65625rem;
  color: #999;
}
.page4 .purchase_goods .detail_info .goods_market span:first-of-type:before {
  content: "";
  display: inline-block;
  width: 0.3125rem;
  height: 0.9375rem;
  vertical-align: middle;
  margin-right: 0.25rem;
  border-radius: 30%;
  background-color: #ffd600;
}
.page4 .purchase_goods .detail_info .goods_market span:nth-of-type(2) {
  display: inline-block;
  width: 5.375rem;
  height: 1.9375rem;
  border: 1px solid #ff3800;
  color: #ff3800;
  font-size: 0.65625rem;
  text-align: center;
  line-height: 1.9375rem;
  border-radius: 1rem;
  position: absolute;
  right: 2.4rem;
  top: 0.15625rem;
}
.page4 .purchase_goods .detail_info p {
  width: 20rem;
  height: 1.5rem;
  text-indent: 1.4rem;
  font-size: 0.65625rem;
  line-height: 1.5rem;
  color: #999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.page4 .purchase_goods .detail_info .goods_time {
  width: 100%;
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 0.875rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  text-indent: 1.4rem;
  position: relative;
}
.page4 .purchase_goods .detail_info .goods_time span:first-of-type {
  display: inline-block;
  color: #e64f1a;
}
.page4 .purchase_goods .detail_info .goods_time span:last-of-type {
  display: inline-block;
  width: 5.9375rem;
  float: right;
  background: url("images/goods_right.png") no-repeat 4.5rem center;
  background-size: auto 1rem;
}
.page4 .purchase_goods .detail_info .goods_remark {
  width: 100%;
  text-indent: 1.4rem;
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 0.875rem;
  border-bottom: 1px solid #e0e0e0;
}
.page4 .purchase_goods .detail_info .goods_remark input {
  width: 12.5rem;
  height: 2.5rem;
  margin-left: 1.5rem;
  border: 1px solid #cecece;
  border-radius: 0.3125rem;
  text-indent: 0.3125rem;
}
.page4 .purchase_goods .detail_info .choose_goods_info {
  width: 100%;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:first-of-type {
  width: 3.75rem;
  height: 6rem;
  background: url("images/goods_choose.png") no-repeat center;
  background-size: 1.8rem 1.8rem;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(2) {
  width: 3.75rem;
  height: 6rem;
  background: url("images/grape.jpg") no-repeat center;
  background-size: 3.75rem 3.75rem;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) {
  width: 11.09375rem;
  height: 6rem;
  padding-left: 1.40625rem;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) .goods_name {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #383838;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) .goods_num {
  height: 3rem;
  line-height: 3rem;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) .goods_num span:first-of-type {
  display: inline-block;
  font-size: 0.65625rem;
  color: #383838;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) .goods_num span:nth-of-type(3) {
  display: inline-block;
  width: 2.0625rem;
  height: 2.0625rem;
  text-align: center;
  line-height: 2.0625rem;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) .goods_num span:nth-of-type(2),
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) .goods_num span:nth-of-type(4) {
  display: inline-block;
  width: 2.0625rem;
  height: 2.0625rem;
  text-align: center;
  line-height: 2.0625rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #ffbe89;
  border-radius: 50%;
  color: #ff4300;
}
.page4 .purchase_goods .detail_info .choose_goods_info tr td:nth-of-type(3) .goods_num span:nth-of-type(2) {
  margin-left: 1.8125rem;
}
.page4 .purchase_goods .detail_info .total_price {
  width: 100%;
  height: 3.75rem;
  line-height: 3.75rem;
  text-indent: 1.2rem;
  font-size: 0.8125rem;
}
.page4 .purchase_goods .detail_info .total_price span:first-of-type {
  display: inline-block;
  width: 5.625rem;
  height: 100%;
  text-align: center;
  background: url("images/goods_choose.png") no-repeat left center;
  background-size: 1.8rem 1.8rem;
}
.page4 .purchase_goods .detail_info .total_price span:nth-of-type(3) {
  color: #e64f1a;
}
.page4 .purchase_goods .detail_info .total_price span:last-of-type {
  color: #333;
  display: inline-block;
  width: 6.875rem;
  height: 100%;
  text-align: center;
  background-color: #ffd600;
  float: right;
  font-size: 0.9375rem;
}
.hidden {
  display: none;
}
