
     <div class="page1">
        <section class="index_topBar topBar">
            <div class="scan"><p>扫一扫</p></div>
            <div class="positionShow changeTriangle">济远路附近</div>
           <div class="search"> <a href="#search"><p>搜索</p></a></div>
        </section>

        <!--首页banner部分-->
        <div class="index_banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/bear.jpg"></div>
                <div class="swiper-slide"><img src="images/back.png"></div>
                <div class="swiper-slide"><img src="images/listBg.png"></div>
                <div class="swiper-slide"><img src="images/bear.jpg"></div>
                <div class="swiper-slide"><img src="images/back.png"></div>
                <div class="swiper-slide"><img src="images/listBg.png"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!--首页menu部分-->
        <div class="index_menu">
            <a href="">
                <div><span></span>
                    <p>抽奖</p>
                </div>
            </a>
            <a href="#seckill">
                <div><span></span>
                    <p>疯狂秒杀</p>
                </div>
            </a>
            <a href="">
                <div><span></span>
                    <p>鲜货直供</p>
                </div>
            </a>
            <a href="">
                <div><span></span>
                    <p>大闸蟹</p>
                </div>
            </a>
            <a href="">
                <div><span></span>
                    <p>水果</p>
                </div>
            </a>
            <a href="">
                <div><span></span>
                    <p>乳品</p>
                </div>
            </a>
            <a href="">
                <div><span></span>
                    <p>卤味</p>
                </div>
            </a>
            <a href="">
                <div><span></span>
                    <p>零食</p>
                </div>
            </a>
        </div>

        <!--首页headLine部分-->
        <div class="index_headline">
            <span><img src="images/headline.jpg" alt=""></span>
            <div class="headline_news">
                <span>防霾</span>
                <span>3M防霾口罩22.8元/3只 1小时闪送</span>
            </div>
        </div>

        <!--主页图片广告-->
        <div class="index_picAd">
            <img src="images/picAd1.jpg" alt="">
            <img src="images/picAd2.jpg" alt="">
            <img src="images/picAd3.jpg" alt="">
        </div>

        <!--主页card部分-->
        <div class="index_card">
            <img src="images/index_card1.jpg" alt="">
            <img src="images/index_card2.jpg" alt="">
            <img src="images/index_card3.jpg" alt="">
            <img src="images/index_card4.jpg" alt="">
        </div>

        <!--主页水果部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>优选水果</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页牛奶面包部分-->
        <section class="index_milk index_list">
            <div class="list_topBar">
                <p>牛奶面包</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_milk1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页卤味熟食部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>卤味熟食</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页饮料酒水部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>饮料酒水</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页零食大趴部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>零食大趴</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页方便速食部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>方便速食</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页生活用品部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>生活用品</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页冰淇淋部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>冰淇淋</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页新鲜预定部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>新鲜预定</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>

        <!--主页大闸蟹部分-->
        <section class="index_fruit index_list">
            <div class="list_topBar">
                <p>大闸蟹</p>
                <span>更多</span>
            </div>
            <div class="list_banner">
                <img src="images/index_fruit1.jpg" alt="">
            </div>
            <div class="index_goods_list">
                <div>
                    <img src="images/index_fruit2.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit3.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
                <div><img src="images/index_fruit4.jpg" alt="">
                    <p>蜂觅.15度蜜梨</p>
                    <p><span class="sift">精选</span><span class="toofer">买一送一</span></p>
                    <p>400-500g/盒</p>
                    <p>￥14.6 <span>￥16</span></p>
                    <span class="add">+</span>
                </div>
            </div>
        </section>
         <div class="mod_search_result">
             <div class="search_result_item">
                 <div class="search_result_img1"></div>
                 <div class="search_result_name">稻香村精制五仁月饼</div>
                 <div class="search_result_sift"><span>精选</span></div>
                 <div class="search_result_weight">100g/块</div>
                 <div class="search_result_price">￥<span>12</span><span>￥13.8</span><span>补货中</span></div>
             </div>
             <div class="search_result_item">
                 <div class="search_result_img2"></div>
                 <div class="search_result_name">稻香村蛋黄莲蓉月饼</div>
                 <div class="search_result_sift"><span>精选</span></div>
                 <div class="search_result_weight">100g/块</div>
                 <div class="search_result_price">￥<span>12</span><span>￥13.8</span><span>补货中</span></div>
             </div>
             <div class="search_result_item">
                 <div class="search_result_img3"></div>
                 <div class="search_result_name">稻香村金丝枣蓉月饼</div>
                 <div class="search_result_sift"><span>精选</span></div>
                 <div class="search_result_weight">100g/块</div>
                 <div class="search_result_price">￥<span>8</span><span>￥9.9</span><span>补货中</span></div>
             </div>
         </div>




        <!--清除tabBar占位-->
        <div class="clear"></div>
</div>

