<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>积分商城</title>
    <link rel="stylesheet/less" href="intergral.css">
    <script type="text/javascript" src="../../lib/screen_fit.js"></script>
    <script type="text/javascript" src ="../../lib/less.js"></script>
    <script type="text/javascript" src="../../lib/jquery-1.11.2.js"></script>
</head>
<body>
    <!--------------积分商城页面-------------->
    <div class="points_mall">
        <div class="points_top">
            <header class="points_top_header">
                <span class="points_back"></span>
                <p>积分商城</p>
            </header>

            <section class="points_top_middle">
                <div>
                    <div>
                        <p>可用积分</p>
                        <span>1</span>
                    </div>
                </div>
            </section>

            <section class="points_top_bottom">
                <a>
                    <span></span>
                    <p>积分细则</p>
                </a>
                <a>
                    <span></span>
                    <p>兑换记录</p>
                </a>
                <a>
                    <span></span>
                    <p>积分规则</p>
                </a>
            </section>
        </div>

        <div class="point_bottom">
            <section>
                <img src="images/point_1_4.png" alt="">
                <p>3元积分兑换券</p>
                <p>300积分</p>
            </section>
            <section>
                <img src="images/point_1_5.png" alt="">
                <p>5元积分兑换券</p>
                <p>500积分</p>
            </section>
            <section>
                <img src="images/point_1_6.png" alt="">
                <p>8元积分兑换券</p>
                <p>800积分</p>
            </section>
            <section>
                <img src="images/point_1_7.png" alt="">
                <p>10元积分兑换券</p>
                <p>1000积分</p>
            </section>
        </div>

    </div>
</body>
</html>